body {
    background-color: white;
    font-family: 'omyu_pretty';
}

/*오뮤다예쁨체*/
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.Box {
    margin-left: 10%; margin-right: 10%; margin-top: 5%; margin-bottom: 5%;
    border: 1px solid; padding-bottom:  100px; padding-left: 10px; padding-right: 10px;
}

.button {
    font-family: 'omyu_pretty';
}

.textnemo {
    background-color: white;
    padding: 10px;

}